<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <center style="margin-top: 100px;">
        <h2>Create Your Blog Here</h2>

        <a href="/">Home</a><br><br>
        <a href="/blog/create">Create Blog</a><br><br><br>

        <form action="/blog/create" method="post">
            <input type="text" name="title" placeholder="Title"><br><br>
            <textarea name="content" cols="30" rows="10" placeholder="Content"></textarea><br><br>
            <input type="submit" value="Create">
        </form>
    </center>

</body>

</html>